
.submission_teaser {
    // aspect-ratio: 3 / 1.5;
    padding:0.5em;
    overflow-x:hidden;
}

.top_bar {
    border-bottom:1px solid;
    display:grid;
    grid-template-columns: 1fr 3fr;
    padding:0.5em;
    font-size:10pt;
    margin-bottom:1em;
    
}

header {
    & ul {
    text-align:center;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
        & li {
            padding:0.5em;
        }
    }
}

    .two_up {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .light {
        background-color: white;
        color:black;
    }

    .dark {
        color: white;
        background-color:black;   
    }

.submission_teaser_list {
    min-height:80vh;
}

.grid_four {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding:2em;
    grid-column-gap:2em;
}

footer ul {
    display:grid;
    grid-template-columns:1fr 1fr;

    & li {
        padding:0.5em;
    }

}

.submission_full_top {
    aspect-ratio: 3 / 1.5;
    position:relative;

    & .control_panel {
        position:absolute;
        bottom:0;
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        width:100%;
        grid-column-gap:1em;

        
          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 1px;
            background: black;
            outline: none;
            margin-top:1rem;
            width:100%;
            position:relative;
            top:-5px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 1rem;
                    height: 1rem;
                    border-radius:50%;
                    background: black;
                    cursor: pointer;
                    border:none;
                }

                &::-moz-range-thumb {
                width: 1rem;
                height: 1rem;
                background: black;
                cursor: pointer;
                    border-radius:50%;
                    border:none;
                }
            }
        }
        
    }


    .bar {
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s;
}


.text_align {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  margin:7px; 
  cursor:pointer;

  
  &:hover .bar,
  &.active .bar {
      background:white;
    }
  

  & .bar {
    width:22px;
    

  &:nth-child(2) {
      width:18px;
    }
  }

  &.center {
    align-items: center;
   
  }

  &.right {
    align-items: end;
   
  }
  
}

img {
    max-width:100%;
    width:100%;
}

.authorImage {
    width:100%;
    
  aspect-ratio: 1 / 1;
    border-radius:50%;
    background-position: 50% 50%;
    background-size:cover
}

.processImages,
.inUseImages {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:2em;
    padding:1em 1em 2em;
  
}

.caption {
    text-align:center;
    margin-top:0.5em;
}

.nav {
    & .light:hover {
        background:black;        
    }

    & a .light {
        transition:all 0.2s;
    }

    & a:link:hover .light,
    & a:visited:hover .light {
        color:white;
    }

    & .dark a:link:hover  {
        background:white;        
    }

    & a .dark {
        transition:all 0.2s;
    }

    & a:link:hover .dark,
    & a:visited:hover .dark {
        color:black;
    }


}


.scroll-on-hover {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-on-hover  {
  display: inline-block;
  transform: translateX(0);
  transition: transform 5.5s linear;
}

article:hover .scroll-on-hover  {
  transform: translateX(calc(-100% + 100vw));
}
