@use "vars" as *;


.submission-teaser-list { 
    border-bottom: 1px solid #000;
}

.submission-teaser {
    border-top: 1px solid;
  // aspect-ratio: 3 / 1.5;
  padding: 0.5em 0.5em 0;
  overflow-x: hidden;
  background: $red;


}

.top-bar {
  
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.5em;
  font-size: 10pt;
  margin-bottom: 1em;
  color: black;

@include respond(small) {
    display:block;

        

}

}

header ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);


  @include respond(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(small) {
    display:block
  }  

  & li {
    padding: 0.5em;
    
    &.header-item-1 {
       @include respond(medium) {
            order:1
        }
    }

    &.header-item-2 {
       @include respond(medium) {
            order:2
        }
    }
    &.header-item-3 {
       @include respond(medium) {
            order:4
        }
    }
    &.header-item-4 {
       @include respond(medium) {
            order:3
        }
    }        
  }
}

.two-up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1em;
}

.two-em-gap {
  gap: 2em;
}

.four-up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.light {
  background-color: white;
  color: black;
}

.dark {
  color: white;
  background-color: black;
}

.submission-teaser-list {
  min-height: 80vh;
}

.grid-large-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  gap: 2em;

    @include respond(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

      @include respond(small) {
   display:block;
   padding:1rem
  }
}

.grid-large-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  gap: 2em;



      @include respond(medium) {
    display:block;
  }
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(medium) {
    display:block;
  }

  & li {
    padding: 0.5em;
  }
}

.submission-full-top {
  // aspect-ratio: 3 / 1.5;
  position: relative;
  background: $red;
  padding: 1rem 0.5rem 5em; 
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  
  @include respond(medium) {
    padding: 0.5rem;
  }

    @include respond(small) {
    padding: 0.5rem;
  }


  & h2::selection {
    color: $red;
    background-color: white;
  }

  & .two-up {
    padding-bottom:0.5rem;

    @include respond(small) {
        padding:0 0 1em 0;
    }
  }


}

img {
  max-width: 100%;
  width: 100%;
}

.author-image {
    
  margin:auto;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;

  @include respond(small) {
    margin:2rem auto;
  }
}

// .process-images,
// .in-use-images {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 2em;
//   padding: 1em 1em 2em;
// }

.caption {
  text-align: center;
  margin: 0.5em 0 1em;
}

.nav {
  & a .light:hover {
    background: black;
  }

    & a .dark:hover {
    background: white;
  }

  & a .light {
    transition: all 0.2s;
  }

  & a:link:hover .light,
  & a:visited:hover .light {
    color: white;
  }





  & .dark a:link:hover {
    background: white;
  }
& a .light,
  & a .dark {
    transition: all 0.2s;
  }

  & a:link:hover .dark,
  & a:visited:hover .dark {
    color: black;
  }
}

.scroll-on-hover {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 5.5s linear;
}

article:hover .scroll-on-hover {
  transform: translateX(calc(-100% + 100vw));
}

.chevron {
  font-size: 2em;
  line-height: 0;
}


.hide-medium {
    @include respond(medium) {
        display:none!important;
    }
}


.hide-small {
    @include respond(small) {
        display:none!important;
    }
}

.span-2 {
    
        grid-column: span 2;
    
}

.medium-span-2 {
    @include respond(medium) {
        grid-column: span 2;
    }
}


.small-span-1 {
    @include respond(small) {
        grid-column: span 4;
    }
}

.medium-center {
    text-align: center;
}

.small-one-up {
     @include respond(small) {
        display:block;
    }
}

.medium-two-up {
    @include respond(medium) {
    grid-template-columns:1fr 1fr;
    }
}


.padding-1-rem {
    padding:1rem;
}


.modal-overlay {

    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.9);
          width:100vw;
        height:100vh;
        padding:5rem;
  

    .modal-content {
        padding:5rem;
        
    }

    & img {
        position:absolute;
        top:50%;
        left:50%;        
        transform:translate(-50%,-50%);
        max-height:90vh;
        width:auto;
        
    }

    .modal-close {
        position:absolute;
        top:1rem;
        right:1rem;
        font-size:2rem;
        background:transparent;
        border:none;
        transition:all 0.2s;

        &:hover {
            transform:scale(1.3);
        }
    }
}
    
