@use 'vars' as *;

@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Regular-Web.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Bold-Web.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-RegularItalic-Web.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Duplicate";
  font-size: 17px;
  line-height: 1.2;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0.5em;
}

h2 {
  outline: 0;
}

h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.small {
  font-size: 0.8em;
}

.two-columns {
  column-gap: 1em;
  column-count: 2;
}

.nav a {
  text-decoration: none;
}

.no-wrap {
  white-space: nowrap;
}

h4 {
  font-size: 70px;
  line-height: 1.5;
  margin-top:-0.5rem;
  padding-bottom: 0;

  @include respond(small) {
    font-size:40px;
  }
}

.specimen-text-long {
    white-space: pre-wrap;
}

.text-center {
  text-align:center;
}

.top-pad-2 {
  padding-top:4em;
}

.small-left {
  @include respond(small) {
    text-align:left
  }
}