@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Regular-Web.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Bold-Web.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-RegularItalic-Web.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: "Duplicate";
  font-size: 17px;
  line-height: 1.2;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0.5em;
}

h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.small {
  font-size: 0.8em;
}

.two_columns {
  column-gap: 1em;
  column-count: 2;
}

.nav a {
  text-decoration: none;
}

.no-wrap {
  white-space: nowrap;
}

h4 {
  font-size: 70px;
}

.submission_teaser {
  padding: 0.5em;
  overflow-x: hidden;
  background: red;
}

.top_bar {
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.5em;
  font-size: 10pt;
  margin-bottom: 1em;
  color: white;
}

header ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header ul li {
  padding: 0.5em;
}

.two_up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.light {
  background-color: white;
  color: black;
}

.dark {
  color: white;
  background-color: black;
}

.submission_teaser_list {
  min-height: 80vh;
}

.grid_four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em;
  grid-column-gap: 2em;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer ul li {
  padding: 0.5em;
}

.submission_full_top {
  aspect-ratio: 3/1.5;
  position: relative;
  background: red;
}
.submission_full_top .control_panel {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-column-gap: 1em;
}
.submission_full_top .control_panel .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: black;
  outline: none;
  margin-top: 1rem;
  width: 100%;
  position: relative;
  top: -5px;
}
.submission_full_top .control_panel .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: none;
}
.submission_full_top .control_panel .slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: black;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.bar {
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s;
}

.text_align {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  margin: 7px;
  cursor: pointer;
}
.text_align:hover .bar, .text_align.active .bar {
  background: white;
}
.text_align .bar {
  width: 22px;
}
.text_align .bar:nth-child(2) {
  width: 18px;
}
.text_align.center {
  align-items: center;
}
.text_align.right {
  align-items: end;
}

img {
  max-width: 100%;
  width: 100%;
}

.authorImage {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
}

.processImages,
.inUseImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  padding: 1em 1em 2em;
}

.caption {
  text-align: center;
  margin-top: 0.5em;
}

.nav .light:hover {
  background: black;
}
.nav a .light {
  transition: all 0.2s;
}
.nav a:link:hover .light, .nav a:visited:hover .light {
  color: white;
}
.nav .dark a:link:hover {
  background: white;
}
.nav a .dark {
  transition: all 0.2s;
}
.nav a:link:hover .dark, .nav a:visited:hover .dark {
  color: black;
}

.scroll-on-hover {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-on-hover {
  display: inline-block;
  transform: translateX(0);
  transition: transform 5.5s linear;
}

article:hover .scroll-on-hover {
  transform: translateX(calc(-100% + 100vw));
}

/*# sourceMappingURL=main.css.map */
